body{
    font-family: cursive;
}

/*Nav Bar*/

nav{
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1vw 1vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

nav img{
    width: 100px;
    align-items: flex-start;
    cursor: pointer;
}

nav h1{
    color: #50C878;
    font-weight: 700;
    cursor: pointer;
}

nav .navigation ul{
    display: flex;
    justify-content: space-between;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 50px;
    align-items: flex-end;
}

nav .navigation ul li a{
    text-decoration: none;
    color: #50C878;
    font-size: 18px;
    font-weight: 500;
}
nav .navigation ul li a:hover{
    color: salmon;
}

/*Home*/
#home{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url("images/contactBack.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h1{
    color: white;
    font-size: 2.3rem;
    letter-spacing: 1px;
}

/*1st Row*/

#home .btn1{
    margin-top: 20px;
    margin-bottom: 20px;
}

#home .btn1 a{
    text-decoration: none;
    background-color: white;
    padding: 13px 35px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    margin: 0 10px;
}

#home .btn1 a.green{
    color: white;
    background-color: green;
    transition: 0.3s ease;
}

#home .btn1 a.green:hover{
    color: green;
    background-color: white;
}


#home .btn1 a.orange{
    color: white;
    background-color: orange;
    transition: 0.3s ease;
}

#home .btn1 a.orange:hover{
    color: orange;
    background-color: white;
}


#home .btn1 a.blue{
    color: white;
    background-color: blue;
    transition: 0.3s ease;
}

#home .btn1 a.blue:hover{
    color: blue;
    background-color: white;
}


#home .btn1 a.palevioletred{
    color: white;
    background-color: palevioletred;
    transition: 0.3s ease;
}

#home .btn1 a.palevioletred:hover{
    color: palevioletred;
    background-color: white;
}

/*2nd Row*/

#home .btn2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#home .btn2 a{
    text-decoration: none;
    background-color: white;
    padding: 13px 35px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    margin: 0 10px;
}

#home .btn2 a.green{
    color: white;
    background-color: green;
    transition: 0.3s ease;
}

#home .btn2 a.green:hover{
    color: green;
    background-color: white;
}


#home .btn2 a.orange{
    color: white;
    background-color: orange;
    transition: 0.3s ease;
}

#home .btn2 a.orange:hover{
    color: orange;
    background-color: white;
}


#home .btn2 a.blue{
    color: white;
    background-color: blue;
    transition: 0.3s ease;
}

#home .btn2 a.blue:hover{
    color: blue;
    background-color: white;
}


#home .btn2 a.palevioletred{
    color: white;
    background-color: palevioletred;
    transition: 0.3s ease;
}

#home .btn2 a.palevioletred:hover{
    color: palevioletred;
    background-color: white;
}

/*3rd Row*/

#home .btn3{
    margin-top: 20px;
    margin-bottom: 20px;
}

#home .btn3 a{
    text-decoration: none;
    background-color: white;
    padding: 13px 35px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    margin: 0 10px;
}

#home .btn3 a.green{
    color: white;
    background-color: green;
    transition: 0.3s ease;
}

#home .btn3 a.green:hover{
    color: green;
    background-color: white;
}


#home .btn3 a.orange{
    color: white;
    background-color: orange;
    transition: 0.3s ease;
}

#home .btn3 a.orange:hover{
    color: orange;
    background-color: white;
}


#home .btn3 a.blue{
    color: white;
    background-color: blue;
    transition: 0.3s ease;
}

#home .btn3 a.blue:hover{
    color: blue;
    background-color: white;
}


#home .btn3 a.palevioletred{
    color: white;
    background-color: palevioletred;
    transition: 0.3s ease;
}

#home .btn3 a.palevioletred:hover{
    color: palevioletred;
    background-color: white;
}

/*4th Row*/

#home .btn4{
    margin-top: 20px;
    margin-bottom: 20px;
}

#home .btn4 a{
    text-decoration: none;
    background-color: white;
    padding: 13px 35px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    margin: 0 10px;
}

#home .btn4 a.green{
    color: white;
    background-color: green;
    transition: 0.3s ease;
}

#home .btn4 a.green:hover{
    color: green;
    background-color: white;
}


#home .btn4 a.orange{
    color: white;
    background-color: orange;
    transition: 0.3s ease;
}

#home .btn4 a.orange:hover{
    color: orange;
    background-color: white;
}


#home .btn4 a.blue{
    color: white;
    background-color: blue;
    transition: 0.3s ease;
}

#home .btn4 a.blue:hover{
    color: blue;
    background-color: white;
}


#home .btn4 a.palevioletred{
    color: white;
    background-color: palevioletred;
    transition: 0.3s ease;
}

#home .btn4 a.palevioletred:hover{
    color: palevioletred;
    background-color: white;
}



/* Media Query - For Screens Shorter than Desktop (Tablets and Phones) */
@media only screen and (max-width: 1020px) {
  nav {
    flex-direction: row;
  }

  nav #toggle{
    display: block;
    width: 50px;
  }

  nav h1 {
        margin-left: 10px; /* To Add some space from the toggle */
        font-size: 1.3em;
    }

    nav .navigation {
        position: absolute;
        top: 60px; /* Below the main nav */
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        display: none; /* Initially hidden */
    }

    nav .navigation.active {
        display: block; /* Shown when toggled */
    }

    nav .navigation ul {
        flex-direction: column; /* Stack links vertically */
    }

    nav .navigation ul li {
        margin-left: 0;
        padding: 15px 20px;
        text-align: center;
        border-bottom: 1px solid #eee;
    }

    nav .navigation ul li:last-child {
        border-bottom: none;
    }

    /*Remaining Page*/
    #home{
      text-align: center;
      padding: 0;
      background-image: url("images/CategoriesPhone.jpg");
    }

    #home h1{
      font-size: 1.3em;
      margin-top: 30px;
    }

    #home .btn1{
      margin-top: 10px;
      margin-bottom: 0;
    }

    #home .btn1 a{
      display: flex;
      flex-direction: column;
      margin-bottom: 3px;
      font-size: 14px;
      padding: 6px 7px;
    }

    #home .btn2{
        margin-bottom: 0;
    }

    #home .btn2 a{
      display: flex;
      flex-direction: column;
      margin-bottom: 3px;
      font-size: 14px;
      padding: 6px 7px;
    }

    #home .btn3{
        margin-bottom: 0;
    }

        #home .btn3 a{
      display: flex;
      flex-direction: column;
      margin-bottom: 3px;
      font-size: 14px;
      padding: 6px 7px;
    }

    #home .btn4{
        margin-bottom: 0;
    }

        #home .btn4 a{
      display: flex;
      flex-direction: column;
      margin-bottom: 3px;
      font-size: 14px; 
      padding: 6px 7px;
    }


/*to disable dropdown menu*/
nav .navigation ul li ul.dropdown li{
  display: none;
}

}